.cards {
  padding-top: 20px;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 40px 20px;
  grid-template-columns: repeat(auto-fit, 413px);
  box-sizing: border-box;
  justify-content: center;
}

@media screen and (max-width: 630px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    justify-content: center;
  }
}
