.profile {
  display: flex;
  padding: 34px 20px;
  border-bottom: 1px #21212166 solid;
  gap: 20px;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 8px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
}

.profile__name {
  margin: 0 0 12px;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0 0 12px;
  font-size: 18px;
  font-weight: 400;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-profile-button {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  padding: 0;
  margin-top: 80px;
  font-size: 16px;
  color: #212121;
}

.profile__edit-profile-button:hover {
  opacity: 0.6;
}

.profile__new-post-button {
  margin-left: auto;
  margin-top: 140px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 52px;
  width: 157px;
  background-color: #212121;
  border-radius: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #fcf5e5;
  font-weight: 500;
  font-size: 16px;
}

.profile__new-post-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    text-align: center;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin-bottom: 12px;
    margin-right: 0;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
    max-width: 288px;
  }

  .profile__description {
    margin-bottom: 32px;
    font-size: 16px;
    max-width: 288px;
  }

  .profile__edit-profile-button {
    margin-top: 20px;
    align-self: center;
  }

  .profile__new-post-button {
    margin: 0;
    justify-content: center;
    width: 100%;
  }
}
