<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      name="description"
      content="A social photo-sharing page where users can add, like, and manage images."
    />
    <meta name="author" content="K.O.Mitchell" />
    <meta
      name="keywords"
      content="photos, gallery, social media, Spots project"
    />

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <title>Spots</title>

    <style>
      .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0 0 0 0);
        border: 0;
      }
    </style>
  </head>

  <body>
    <div class="page">
      <main class="page__content">
        <header class="header">
          <img
            src="<%= require('./images/Logo.svg') %>"
            alt="Spots logo"
            class="header__logo"
          />
        </header>

        <!-- Profile section -->
        <section class="profile page__section">
          <div class="profile__avatar-container">
            <img
              src="<%= require('./images/avatar.jpg') %>"
              alt="User avatar"
              class="profile__avatar"
            />

            <button type="button" class="profile__avatar-edit-button">
              <img
                src="<%= require('./images/button-secondary.svg') %>"
                alt=""
                class="profile__avatar-edit-icon"
              />
              <span class="visually-hidden">Edit avatar</span>
            </button>
          </div>

          <div class="profile__info">
            <h1 class="profile__name">Bessie (Elizabeth) Coleman</h1>

            <p class="profile__description">Civil Aviator</p>

            <button type="button" class="profile__edit-profile-button">
              <img
                src="<%= require('./images/button-secondary.svg') %>"
                alt=""
              />
              <span class="visually-hidden">Edit profile</span>
            </button>
          </div>

          <button type="button" class="profile__new-post-button">
            <img src="<%= require('./images/plus-sign.svg') %>" alt="" />
            New Post
          </button>
        </section>

        <!-- Cards section -->
        <section class="cards page__section">
          <ul class="cards__list"></ul>
        </section>

        <!-- Card template -->
        <template id="card-template">
          <li class="card">
            <img class="card__image" src="" alt="" />
            <div class="card__content">
              <h2 class="card__title"></h2>
              <button type="button" class="card__like-button"></button>
            </div>
            <button type="button" class="card__delete-button"></button>
          </li>
        </template>

        <!-- Footer -->
        <footer class="footer page__section">
          <p class="footer__copyright">2026 © Spots</p>
        </footer>
      </main>

      <!-- Edit profile modal -->
      <div class="modal" id="edit-profile-modal">
        <div class="modal__container">
          <button type="button" class="modal__close-button">
            <img src="<%= require('./images/close-icon.svg') %>" alt="Close" />
          </button>

          <h2 class="modal__title">Edit profile</h2>

          <form class="modal__form" name="edit-profile">
            <label for="profile-name-input" class="modal__label">
              Name
              <input
                id="profile-name-input"
                type="text"
                class="modal__input"
                placeholder="Type your name"
                required
                minlength="2"
                maxlength="40"
              />
              <span id="profile-name-input-error" class="modal__error"></span>
            </label>

            <label for="profile-description-input" class="modal__label">
              Description
              <input
                id="profile-description-input"
                type="text"
                class="modal__input"
                placeholder="Describe yourself"
                required
                minlength="2"
                maxlength="200"
              />
              <span
                id="profile-description-input-error"
                class="modal__error"
              ></span>
            </label>

            <button type="submit" class="modal__save-button">Save</button>
          </form>
        </div>
      </div>

      <!-- New post modal -->
      <div class="modal" id="new-post-modal">
        <div class="modal__container">
          <button type="button" class="modal__close-button">
            <img src="<%= require('./images/close-icon.svg') %>" alt="Close" />
          </button>

          <h2 class="modal__title">New post</h2>

          <form class="modal__form" name="new-post">
            <label for="card-image-input" class="modal__label">
              Image link
              <input
                id="card-image-input"
                type="url"
                class="modal__input"
                placeholder="Paste a link to the picture"
                required
              />
              <span id="card-image-input-error" class="modal__error"></span>
            </label>

            <label for="image-caption-input" class="modal__label">
              Caption
              <input
                id="image-caption-input"
                type="text"
                class="modal__input"
                placeholder="Type your caption"
                required
                minlength="2"
                maxlength="30"
              />
              <span id="image-caption-input-error" class="modal__error"></span>
            </label>

            <button type="submit" class="modal__save-button">Save</button>
          </form>
        </div>
      </div>

      <!-- Edit Avatar Modal -->
      <div class="modal" id="edit-avatar-modal">
        <div class="modal__container">
          <button type="button" class="modal__close-button">
            <img src="<%= require('./images/close-icon.svg') %>" alt="Close" />
          </button>

          <h2 class="modal__title">Change profile picture</h2>

          <form class="modal__form" name="edit-avatar">
            <label for="profile-avatar-input" class="modal__label">
              Avatar link
              <input
                id="profile-avatar-input"
                type="url"
                class="modal__input"
                placeholder="Paste a link to the new avatar"
                required
              />
              <span id="profile-avatar-input-error" class="modal__error"></span>
            </label>

            <button type="submit" class="modal__save-button">Save</button>
          </form>
        </div>
      </div>

      <!-- Delete Confirmation Modal -->
      <div class="modal" id="delete-card-modal">
        <div class="modal__container">
          <button type="button" class="modal__close-button">
            <img src="<%= require('./images/close-icon.svg') %>" alt="Close" />
          </button>

          <h2 class="modal__title">Are you sure?</h2>

          <form class="modal__form" name="delete-card">
            <button type="submit" class="modal__save-button">
              Yes, delete
            </button>
          </form>
        </div>
      </div>

      <!-- Preview Image Modal -->
      <div class="modal" id="preview-modal">
        <div class="modal__container modal__container_type_preview">
          <button type="button" class="modal__close-button">
            <img src="<%= require('./images/close-icon.svg') %>" alt="Close" />
          </button>

          <img
            class="modal__image"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
            alt=""
          />

          <p class="modal__caption"></p>
        </div>
      </div>
    </div>
  </body>
</html>
